<div class="w3-sidebar w3-bar-block" style="overflow: hidden;" [hidden]="menuMobile" id="mySidebar">
    <button (click)="menuMobile=!menuMobile" class="w3-bar-item w3-button w3-large">Fechar &times;</button>
    <div class="p-grid">
        <div class="p-col-12 p-fluid">
            <ul>
                <li style="margin-bottom: 8px;">
                    <a href="javascript:;" (click)="abrirTela('');menuMobile=!menuMobile">Home</a>
                </li>
                <li style="margin-bottom: 8px;">
                    <a href="#sobre-nos" (click)="abrirTela('#sobre-nos');menuMobile=!menuMobile">Sobre Nós</a>
                </li>
                <li style="margin-bottom: 8px;">
                    <a href="#aplicativo" (click)="abrirTela('#aplicativo');menuMobile=!menuMobile">Aplicativo</a>
                </li>
                <li style="margin-bottom: 8px;">
                    <a href="javascript:;" (click)="abrirTela('publicacoes');menuMobile=!menuMobile">Publicações</a>
                </li>
                <li style="margin-bottom: 8px;" *ngIf="false">
                    <a href="javascript:;" (click)="abrirTela('parcerias');menuMobile=!menuMobile">Parcerias</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-12">
        <div class="cabecalho p-grid">
            <div class="p-grid">
                <div class="exibir-mobile menu-mobile p-col-3">
                    <p-button class="botao-menu" (click)="menuMobile=!menuMobile">
                        <i class="fas fa-bars"></i>
                    </p-button>
                </div>
                <div class="p-col-2">
                    <img src="../assets/logos/LevaJa.png">
                </div>
                <div class="ocultar-mobile p-col-10">
                    <div class="menu-itens">
                        <a href="javascript:;" (click)="abrirTela('')">Home</a>&nbsp;&nbsp;
                        <a href="#sobre-nos" (click)="abrirTela('#sobre-nos')">Sobre Nós</a>&nbsp;&nbsp;
                        <a href="#aplicativo" (click)="abrirTela('#aplicativo')">Aplicativo</a>&nbsp;&nbsp;
                        <a href="javascript:;" (click)="abrirTela('publicacoes')">Publicações</a>&nbsp;&nbsp;
                        <a *ngIf="false" href="javascript:;" (click)="abrirTela('parcerias')">Parcerias</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-grid">
    <div class="ocultar-mobile p-md-1 p-lg-1 p-xl-1">
        <div class="p-grid" *ngFor="let anuncio of anunciosEsq">
            <div class="p-col-12 anuncio imagem-centralizada">
                <a target="_blank" [class]="anuncio.ativo ? '' : 'link-desativado'" href="https://api.whatsapp.com/send?phone={{anuncio.numero}}">
                    <img class="imagem-propaganda" src={{anuncio.logo}}>
                </a>
            </div>
        </div>
    </div>

    <div class="p-sm-12 p-md-10 p-lg-10 p-xl-10">
        <router-outlet></router-outlet>
    </div>

    <div class="ocultar-mobile p-md-1 p-lg-1 p-xl-1">
        <div class="p-grid" *ngFor="let anuncio of anunciosDir">
            <div class="p-col-12 anuncio imagem-centralizada">
                <img class="imagem-propaganda" src={{anuncio.logo}}>
            </div>
        </div>
    </div>
</div>

<div class="exibir-mobile p-grid">
    <div class="p-col-12">
        <p-carousel [value]="anuncosMobile" [page]="0" [numVisible]="1" [numScroll]="1" [autoplayInterval]="3000"
            [circular]="true">
            <ng-template let-anuncio pTemplate="item">
                <div class="imagem-centralizada">
                    <img class="imagem-propaganda" src={{anuncio.logo}}>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>

<div class="rodape p-grid">
    <div class="p-col-12">
        <div class="p-grid">
            <div class="p-sm-12 p-lg-3 p-md-3 p-xl-3">
                <ul>
                    <li style="margin-bottom: 8px;">
                        <a href="javascript:;" (click)="abrirTela('')">Home</a>
                    </li>
                    <li style="margin-bottom: 8px;">
                        <a href="#sobre-nos" (click)="abrirTela('#sobre-nos')">Sobre Nós</a>
                    </li>
                    <li style="margin-bottom: 8px;">
                        <a href="#aplicativo" (click)="abrirTela('#aplicativo')">Aplicativo</a>
                    </li>
                    <li style="margin-bottom: 8px;">
                        <a href="javascript:;" (click)="abrirTela('publicacoes')">Publicações</a>
                    </li>
                    <li style="margin-bottom: 8px;" *ngIf="false">
                        <a href="javascript:;" (click)="abrirTela('parcerias')">Parcerias</a>
                    </li>
                </ul>
            </div>
            <div class="p-sm-12 p-lg-2 p-md-2 p-xl-2">
                <p class="espacamento-esquerda-titulo">Redes Sociais</p>
                <div style="margin-top: 15px;" class="p-grid">
                    <a class="espacamento-esquerda" href="javascript:;" (click)="whatsapp()">
                        <i class="rodape-icon fab fa-whatsapp"></i>&nbsp;&nbsp;WhatsApp
                    </a>
                </div><br>
                <div class="p-grid">
                    <a class="espacamento-esquerda" href="javascript:;" (click)="instagram()">
                        <i class="rodape-icon fab fa-instagram"></i>&nbsp;&nbsp;Instagram
                    </a>
                </div><br>
                <div class="p-grid">
                    <a class="espacamento-esquerda" href="javascript:;" (click)="facebook()">
                        <i class="rodape-icon fab fa-facebook"></i>&nbsp;&nbsp;Facebook
                    </a>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <p class="copyrigth">&copy; {{anoAtual}} Desenvolvido por
                <a href="https://www.linkedin.com/in/mauricio-00-/" target="_blank">Mauricio da
                    Silva</a>
            </p>
        </div>
    </div>
</div>