<div class="p-grid">
  <div class="p-col-12">
    <p-carousel [value]="anuncios" [page]="0" [numVisible]="1" [numScroll]="1" [autoplayInterval]="3000"
      [circular]="true">
      <ng-template let-anuncio pTemplate="item">
        <div class="imagem-centralizada">
          <a target="_blank" href="https://api.whatsapp.com/send?phone={{anuncio.numero}}">
            <img class="imagem-propaganda" src={{anuncio.imagem}} [alt]="anuncio.nome">
          </a>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>

<div style="padding-left: 20px;" class="p-grid" id="sobre-nos">
  <div class="p-col-12">
    <h1>Sobre nós</h1>
    <p>Nossa startup foi criada para revolucionar o mercado de mobilidade, bem como impulsionar a prestação de
      serviços em diversas áreas.
      Queremos facilitar a vida dos usuários, oferecendo um serviço de qualidade a preços justos para todos os
      portes de clientes. Atendemos todas as categorias de mobilidade e transportes, com atendimento especializado
      pelo aplicativo: motofrete, mototáxi, particular, executivo, utilitários para pequenos fretes, caminhões
      para mudança e guincho. Além de todas essas opções, você tem acesso a prestadores de serviço de qualidade e
      um guia de compras completo na palma da mão através do aplicativo, site, e nossas plataformas digitais, que
      oferece serviços como montagem de móveis, jardinagem, chapas, pintores, eletricistas, encanadores, entre
      outros, bem como apoio logístico ao seu e-commerce ou vendas pelo WhatsApp ou telefone nas mais diversas
      lojas cadastradas.
      O objetivo do aplicativo é unir os compradores e tomadores de serviços, criando comodidade e agilidade para
      todos os envolvidos.
      Você cliente não precisa mais esperar dias para receber sua compra nem pagar valores altos por qualquer tipo
      de transporte ou serviço.
      Assim que fez sua compra, chame um de nossos motoristas e acompanhe todo o cuidado que ele está tendo com a
      sua encomenda, podendo inclusive ir ao local de destino com seu produto, unindo o útil ao agradável.</p>
  </div>
</div>

<div style="padding-left: 20px;" class="p-grid" id="aplicativo">
  <div class="p-sm-12 p-md-7 p-lg-7 p-xl-7">
    <h1>O Aplicativo</h1><br><br>
    <div class="p-grid">
      <div class="p-col-12">
        <a href="https://play.google.com/store/apps/details?id=br.com.client.levaja" target="_blank">
          <img class="imagem-propaganda"
            src="https://firebasestorage.googleapis.com/v0/b/lejaja-37ba8.appspot.com/o/Logos%2FAndroid.png?alt=media">
        </a>
      </div>
      <div class="p-col-12">
        <a href="https://apps.apple.com/us/app/leva-j%C3%A1-cliente/id1576258034" target="_blank">
          <img class="imagem-propaganda"
            src="https://firebasestorage.googleapis.com/v0/b/lejaja-37ba8.appspot.com/o/Logos%2FIOS.png?alt=media">
        </a>
      </div>
    </div>
  </div>
  <div class="p-sm-12 p-md-5 p-lg-5 p-xl-5 p-fluid">
    <img class="imagem-propaganda"
      src="https://firebasestorage.googleapis.com/v0/b/lejaja-37ba8.appspot.com/o/Logos%2FAppMao.png?alt=media">
  </div>
</div>
